In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import numpy as np # linear algebra
import pandas as pd
data = pd.read_csv('insurance.csv')

**Display top 5 rows of the dataset**

In [3]:
data.head()

   age     sex     bmi  children medical     region      charges
0   19  female  27.900         0     yes  southwest  16884.92400
1   18    male  33.770         1      no  southeast   1725.55230
2   28    male  33.000         3      no  southeast   4449.46200
3   33    male  22.705         0      no  northwest  21984.47061
4   32    male  28.880         0      no  northwest   3866.85520

**display last 5 rows of the dataset**

In [4]:
data.tail()

      age     sex    bmi  children medical     region     charges
1333   50    male  30.97         3      no  northwest  10600.5483
1334   18  female  31.92         0      no  northeast   2205.9808
1335   18  female  36.85         0      no  southeast   1629.8335
1336   21  female  25.80         0      no  southwest   2007.9450
1337   61  female  29.07         0     yes  northwest  29141.3603

**Find Shape of our dataset (no of rows and no of columns)**

In [5]:
data.shape

(1338, 7)

In [6]:
print("Number of rows: ",data.shape[0])
print("Number of columns: ",data.shape[1])

Number of rows:  1338
Number of columns:  7

**Get Information about our Dataset like Total no of rows, Total no of Colunms ,Datatypes of each colunms and Memory Requirement**

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   medical   1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

**Check Null Values in Our Dataset**

In [8]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
medical     0
region      0
charges     0
dtype: int64

**Get overall Statistics about the dataset**

In [9]:
data.describe(include="all")

,age,sex,bmi,children,medical,region,charges
count,1338.000000,1338,1338.000000,1338.000000,1338,1338,1338.000000
unique,NaN,2,NaN,NaN,2,4,NaN
top,NaN,male,NaN,NaN,no,southeast,NaN
freq,NaN,676,NaN,NaN,1064,364,NaN
mean,39.207025,NaN,30.663397,1.094918,NaN,NaN,13270.422265
std,14.049960,NaN,6.098187,1.205493,NaN,NaN,12110.011237
min,18.000000,NaN,15.960000,0.000000,NaN,NaN,1121.873900
25%,27.000000,NaN,26.296250,0.000000,NaN,NaN,4740.287150
50%,39.000000,NaN,30.400000,1.000000,NaN,NaN,9382.033000
75%,51.000000,NaN,34.693750,2.000000,NaN,NaN,16639.912515
max,64.000000,NaN,53.130000,5.000000,NaN,NaN,63770.428010

**Convert Columns from String(sex,smoker,region)to Numerical values**

In [10]:
data.head()

   age     sex     bmi  children medical     region      charges
0   19  female  27.900         0     yes  southwest  16884.92400
1   18    male  33.770         1      no  southeast   1725.55230
2   28    male  33.000         3      no  southeast   4449.46200
3   33    male  22.705         0      no  northwest  21984.47061
4   32    male  28.880         0      no  northwest   3866.85520

In [11]:
data['sex'].unique()

array(['female', 'male'], dtype=object)

In [12]:
data['sex']=data['sex'].map({'female':0,'male':1})

In [13]:
data.head()

   age  sex     bmi  children medical     region      charges
0   19    0  27.900         0     yes  southwest  16884.92400
1   18    1  33.770         1      no  southeast   1725.55230
2   28    1  33.000         3      no  southeast   4449.46200
3   33    1  22.705         0      no  northwest  21984.47061
4   32    1  28.880         0      no  northwest   3866.85520

In [24]:
data['medical']=data['medical'].map({'yes':1,'no':0})

In [25]:
data.head()

   age  sex     bmi  children  medical  region      charges
0   19    0  27.900         0        1       1  16884.92400
1   18    1  33.770         1        0       2   1725.55230
2   28    1  33.000         3        0       2   4449.46200
3   33    1  22.705         0        0       3  21984.47061
4   32    1  28.880         0        0       3   3866.85520

In [26]:
data['region'].unique()

array([1, 2, 3, 4], dtype=int64)

In [39]:
data['region']=data['region'].map({'southeast':2,'southwest':1,'northeast':4,'northwest':3})

In [40]:
data.head()

   age  sex     bmi  children  medical  region      charges
0   19    0  27.900         0        1     NaN  16884.92400
1   18    1  33.770         1        0     NaN   1725.55230
2   28    1  33.000         3        0     NaN   4449.46200
3   33    1  22.705         0        0     NaN  21984.47061
4   32    1  28.880         0        0     NaN   3866.85520

**Store Feature Matrix in X and Response(target)in vector Y**

In [1]:
data.columns

NameError: name 'data' is not defined

In [30]:
X= data.drop(['charges'],axis=1)

In [31]:
X

      age  sex     bmi  children  medical  region
0      19    0  27.900         0        1     NaN
1      18    1  33.770         1        0     NaN
2      28    1  33.000         3        0     NaN
3      33    1  22.705         0        0     NaN
4      32    1  28.880         0        0     NaN
...   ...  ...     ...       ...      ...     ...
1333   50    1  30.970         3        0     NaN
1334   18    0  31.920         0        0     NaN
1335   18    0  36.850         0        0     NaN
1336   21    0  25.800         0        0     NaN
1337   61    0  29.070         0        1     NaN

[1338 rows x 6 columns]

In [32]:
Y=data['charges']

In [33]:
Y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

**Train/test split**

*  Split data into two part : a training set and a testing set 
*  Train the model on training set
*  Test the model on testing set

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [36]:
Y_train

560      9193.83850
1285     8534.67180
1142    27117.99378
969      8596.82780
486     12475.35130
           ...
1095     4561.18850
1130     8582.30230
1294    11931.12525
860     46113.51100
1126    10214.63600
Name: charges, Length: 1070, dtype: float64

**Import the models**

In [37]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

**Model Training**

In [38]:
lr = LinearRegression()
lr.fit(X_train,Y_train)
svm = SVR()
svm.fit(X_train,Y_train)
rf = RandomForestRegressor()
rf.fit(X_train,Y_train)
gr = GradientBoostingRegressor()
gr.fit(X_train,Y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

**Prediction on test data**

In [209]:
Y_pred1 = lr.predict(X_test)
Y_pred2 = svm.predict(X_test)
Y_pred3 = rf.predict(X_test)
Y_pred4 = gr.predict(X_test)

df1 = pd.DataFrame({'Actual':Y_test,'Lr':Y_pred1,
                  'svm':Y_pred2,'rf':Y_pred3,'gr':Y_pred4})

In [210]:
df1

**Compare Performance Visually**

In [211]:
import matplotlib.pyplot as plt

In [212]:
plt.subplot(221)
plt.plot(df1['Actual'].iloc[0:11],label='Actual')
plt.plot(df1['Lr'].iloc[0:11],label='Lr')
plt.legend()

plt.subplot(222)
plt.plot(df1['Actual'].iloc[0:11],label='Actual')
plt.plot(df1['svm'].iloc[0:11],label='svr')
plt.legend()

plt.subplot(223)
plt.plot(df1['Actual'].iloc[0:11],label='Actual')
plt.plot(df1['rf'].iloc[0:11],label='rf')
plt.legend()

plt.subplot(224)
plt.plot(df1['Actual'].iloc[0:11],label='Actual')
plt.plot(df1['gr'].iloc[0:11],label='gr')
plt.legend()

plt.tight_layout()

**Evaluating the Algorithm**

In [213]:
from sklearn import metrics

In [214]:
score1 = metrics.r2_score(Y_test,Y_pred1)
score2 = metrics.r2_score(Y_test,Y_pred2)
score3 = metrics.r2_score(Y_test,Y_pred3)
score4 = metrics.r2_score(Y_test,Y_pred4)

In [215]:
print(score1,score2,score3,score4)

In [216]:
s1 = metrics.mean_absolute_error(Y_test,Y_pred1)
s2 = metrics.mean_absolute_error(Y_test,Y_pred2)
s3 = metrics.mean_absolute_error(Y_test,Y_pred3)
s4 = metrics.mean_absolute_error(Y_test,Y_pred4)

In [217]:
print(s1,s2,s3,s4)

**Predict Charges for New Customer**

In [218]:
data = {'age':40,'sex':1,'bmi':40.30,'children':4,'smoker':1,'region':2}
df = pd.DataFrame(data,index=[0])
df

In [219]:
new_pred = gr.predict(df)
print(new_pred)

**Save Model using Joblib**

In [220]:
gr = GradientBoostingRegressor()
gr.fit(X,Y)

In [221]:
import joblib

In [222]:
joblib.dump(gr,'model_joblib_gr')

In [223]:
model = joblib.load('model_joblib_gr')

In [224]:
model.predict(df)